<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
</head>

<body>
	<div th:fragment="productDetail" th:if="${prod}">
		<div class="col-md-8">
			<div class="page-header">
				<h1>
					[[${prod.title}]] <small><a href="./"
						th:href="@{/editProduct(id=${prod.id})}"
						class="glyphicon glyphicon-pencil"></a></small>
						<small><a href="./"
						th:href="@{/removeProduct(id=${prod.id})}"
						class="glyphicon glyphicon-remove" style="color:red"></a></small>
				</h1>
			</div>

			<div class="media">
				<div class="media-left media-top">x</div>
				<div class="media-body" th:text="${prod.description}">{{prod.description}}</div>
			</div>

			<div id="owner" th:if="${hasOwner}">
				<h2>Besitzer</h2>
				<table class="table">
					<thead>
						<th>Benutzername</th>
						<th>Seit</th>
					</thead>
					<tbody>
						<tr th:each="owner : ${ownerList}">
							<td th:text="${owner.username}">Username</td>
							<td>01.01.2000</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</body>
</html>