<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<body>
	<div th:fragment="content">
		<script type="text/javascript">
			function getProduct(id) {
				
				var url = './product?id=' + id;
				console.log(url);
				$("#fragmentProduct").load(url);
			}
		</script>

		<div class="row">
			<div class="col-md-4">
				<table class="table table-striped">
					<tbody>
						<tr th:each="product : ${products}">
							<td><span class="label label-default"
								th:text="${{product.mediaType}}">MediaType</span></td>
							<td><a href="#"
								th:onclick="'javascript:getProduct(' + ${product.id} + ');'"
								th:text="${{product.title}}">Link</a></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div id="fragmentProduct"></div>
		</div>
	</div>
</body>
</html>