<!-- Note: this is vanilla HTML. TODO: Emberify!-->
<h2>Login</h2>

<div class="alert alert-warning alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong>Warning!</strong> Better check yourself, you're not looking too good.
</div>

<span class="label label-default">Default</span>
<span class="label label-primary">Primary</span>
<span class="label label-success">Success</span>
<span class="label label-info">Info</span>
<span class="label label-warning">Warning</span>
<span class="label label-danger">Danger</span>

<form class="form" action="#">

  <label for="email" class="sr-only">Email</label>
  <input type="email" class="form-control input-lg" name="email" id="email" placeholder="Email"/>

  <br/>

  <label for="password" class="sr-only">Password</label>
  <input type="password" class="form-control input-lg" name="password" id="password" placeholder="Password"/>

  <hr/>

  <button class="btn btn-lg btn-primary">
    <span class="glyphicon glyphicon-cog"></span> Log Me In!
  </button>

</form>
