{{outlet}}

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="caption">
        <h3>Alien vs. Predator</h3>
        <p>Alien vs. Predator ist ein Science-Fiction-Film von Paul W. S. Anderson aus dem Jahr 2004. In die amerikanischen Kinos kam er am 13. August, in die deutschen am 4. November 2004.</p>
        <p><a href="#" class="btn btn-primary" role="button">Habe ich.</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="caption">
        <h3>Alien vs. Predator</h3>
        <p>Alien vs. Predator ist ein Science-Fiction-Film von Paul W. S. Anderson aus dem Jahr 2004. In die amerikanischen Kinos kam er am 13. August, in die deutschen am 4. November 2004.</p>
        <p><a href="#" class="btn btn-primary" role="button">Habe ich.</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="caption">
        <h3>Alien vs. Predator</h3>
        <p>Alien vs. Predator ist ein Science-Fiction-Film von Paul W. S. Anderson aus dem Jahr 2004. In die amerikanischen Kinos kam er am 13. August, in die deutschen am 4. November 2004.</p>
        <p><a href="#" class="btn btn-primary" role="button">Habe ich.</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="caption">
        <h3>Alien vs. Predator</h3>
        <p>Alien vs. Predator ist ein Science-Fiction-Film von Paul W. S. Anderson aus dem Jahr 2004. In die amerikanischen Kinos kam er am 13. August, in die deutschen am 4. November 2004.</p>
        <p><a href="#" class="btn btn-primary" role="button">Habe ich.</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
</div>
