{{outlet}}

<table class="table table-striped">
  <thead>

  </thead>
  <tbody>
    {{#each movie in content}}
    <tr>
        <td> <span class="label label-default">{{movie.mediaType}}</span> </td>
        <td>{{movie.title}}</td>
        <td><a href="#" class="btn btn-primary" role="button">Habe ich.</a></td>
    </tr>
    {{/each}}
  </tbody>
</table>
